body {
  background-color: #132843;
}

#titleSearchPlayer {
  color: #F0C986;
  font-size: 30px;
  margin-right: 95px;
}
#ShearchData {
  display: flex;
  justify-content: center;
}

#textNoPlayerData {
  color: #F0C986;
  text-align: center;
  padding: 10px;
}


#containerInfoPlayer {
  background-color: rgba(255, 255, 255, 0.163);
  border-radius: 5px;
  margin: 20px 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#LogoAndTitle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#shearchNamePlayer {
  background-color: wheat;
  color: #D7395F;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  font-size: 15px;
}

#shearchButoon{
  background-color: #D7395F;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
}

.dataColor {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 10px !important;
}
#logoPlayer {
  border: white solid 2px;
}

#containerPlayerDataOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
}
#containerDataOne{
  display: flex;
}
.containerDataLvlRank {
  display: flex;
}

#containerPlayerDataTwo {
  border-top: white 2px solid;
  margin: 0px 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#winColor {
  font-size: 30px;
  color: #F0C986;
  margin: 20px 0px 0px 0px;
  font-weight: bold;
}

#looseColor {
  font-size: 30px;
  color: #D7395F;  
  padding-bottom: 20px;
  margin: 0;
  font-weight: bold;
}

#logoRank {
  height: 150px;
  width: 150px;
}

#winPourcentage {
  border: white 1px solid;
  border-radius: 200px;
  color: white;
  font-size: 20px;
  padding: 20px;
}